  body {
  background-color: lightblue;
  font-family: Verdana, sans-serif;
  font-size: 15px;
  color: Black; 
  }
  h1 {
  font-family: Verdana, sans-serif;
  font-size: 35px;
  color: Black;
  }
  h2 {
    position:absolute;
    width: 50%;
    height: 30px;
    background-color: rgb(61, 59, 59);
    font-family: Verdana, sans-serif;
    font-size: 25px;
    color: white;
    text-align : center;
    top: 160;
  }
  .btn-group .button {
    background-color: lightyellow;
    border: 1px solid Black;
    color: black;
    padding: 4px 12px;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    cursor: pointer;
    float: left;
  }
  /* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}
  .btn-group .button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  .btn-group .button:hover {
    background-color: lightblue;
  }
